.faq {
  padding-top: 64px;
  padding-bottom: 47px;

  @include vp-1199 {
    padding-top: 42px;
    padding-bottom: 34px;
  }

  @include vp-767 {
    padding-top: 37px;
    padding-bottom: 32px;
  }
}

.faq__title {
  margin-bottom: 69px;

  text-align: center;

  @include vp-1199 {
    margin-bottom: 41px;
  }

  @include vp-767 {
    margin-bottom: 35px;
  }
}

.faq__accordion {
  list-style-type: none;
  padding: 0 106px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  @include vp-1199 {
    padding: 0;
  }
}

.faq__accordion-element {
  width: 100%;
  height: 100%;
  color: $color-cerulean-blue;
  background-color: $color-alabaster;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;

  @include vp-767 {
    border-radius: 14px;
  }

  &:hover,
  &:focus-visible {
    background-color: $color-default-white;

    .faq__accordion-button::after {
      border: 1px solid $color-cerulean-blue;
      background: $color-default-white url("../img/svg/plus-hover.svg") no-repeat center / 20px 20px;
      stroke: $color-cerulean-blue;
    }
  }

  &:active {
    .faq__accordion-button {
      color: $color-endeavour;
    }

    .faq__accordion-button::after {
      background: $color-endeavour url("../img/svg/plus.svg") no-repeat center / 20px 20px;
    }
  }
}

.faq__accordion-button {
  position: relative;
  padding: 42px 40px 33px;
  padding-right: 120px;
  min-height: 118px;
  width: 100%;
  text-align: start;
  color: $color-cerulean-blue;
  background-color: inherit;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  outline: none;

  @include vp-1199 {
    padding: 28px 30px;
    padding-right: 100px;
    min-height: 98px;
  }

  @include vp-767 {
    padding: 20px 15px;
    min-height: 79px;
    border-radius: 14px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 39px;
    right: 39px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: $color-cerulean-blue url("../img/svg/plus.svg") no-repeat center / 20px 20px;

    @include vp-1199 {
      top: 29px;
      right: 29px;
    }

    @include vp-767 {
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
    }
  }

  &:hover,
  &.focus-visible {
    background-color: $color-default-white;

    &::after {
      border: 1px solid $color-cerulean-blue;
      background: $color-default-white url("../img/svg/plus-hover.svg") no-repeat center / 20px 20px;
      stroke: $color-cerulean-blue;
    }
  }

  &:active {
    color: $color-endeavour;

    &::after {
      background: $color-endeavour url("../img/svg/plus.svg") no-repeat center / 20px 20px;
    }
  }

  &:disabled {
    &::after {
      background-color: $color-mischka;
      pointer-events: none;
    }
  }
}

.faq__accordion-element.is-active {
  padding-bottom: 23px;
  color: $color-default-white;
  background-color: $color-cerulean-blue;

  @include vp-1199 {
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-bottom: 14px;
  }

  & .faq__accordion-button::after {
    background-color: $color-default-white;
    background-image: url("../img/svg/minus.svg");
  }

  & .faq__accordion-button {
    padding-bottom: 0;
    min-height: auto;
    color: $color-default-white;
    background-color: $color-cerulean-blue;

    @include vp-1199 {
      padding-bottom: 7px;
    }

    @include vp-767 {
      padding-bottom: 21px;
    }

    &:focus,
    &:focus-visible {
      &::after {
        border: 1px solid $color-default-white;
        background: $color-cerulean-blue url("../img/svg/minus-hover.svg") no-repeat center / 20px 20px;
      }
    }
  }

  &:hover,
  &:focus,
  &:focus-visible {
    .faq__accordion-button::after {
      border: 1px solid $color-default-white;
      background: $color-cerulean-blue url("../img/svg/minus-hover.svg") no-repeat center / 20px 20px;
    }
  }

  &:active {
    background-color: $color-endeavour;

    .faq__accordion-button {
      background-color: $color-endeavour;
    }

    .faq__accordion-button::after {
      background: $color-default-white url("../img/svg/minus.svg") no-repeat center / 20px 20px;
    }
  }
}

.faq__accordion-button span {
  font-size: 28px;
  line-height: 34px;
  margin: 0;
  display: block;
  width: 80%;

  @include vp-1199 {
    font-size: 22px;
    line-height: 26px;
    width: 100%;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 18px;
    width: 84%;
  }
}

.faq__accordion-content {
  font-size: 16px;
  line-height: 26px;
  margin-left: 40px;
  width: 637px;

  @include vp-1199 {
    margin-left: 29px;
    width: 580px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
    margin-left: 14px;
    width: calc(100% - 28px);
  }
}

.faq__accordion-wrapper p {
  margin-bottom: 0;

  @include vp-767 {
    margin-top: -4px;
  }
}
