.slider-button {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  width: 22px;
  height: 22px;

  border: none;
  border-radius: 50%;
  background-color: transparent;

  svg {
    position: absolute;
    margin: auto;
    inset: 0;
    color: $color-cerulean-blue;
    width: 22px;
    height: 22px;
  }

  &:hover {
    background-color: $color-default-white;
  }

  &:active {
    svg {
      opacity: 0.7;
    }
  }

  &:focus,
  &:focus-visible {
    background-color: $color-default-white;
    outline: none;
  }

  &:disabled,
  &--disabled {
    pointer-events: none;

    svg {
      color: $color-mischka;
    }
  }

  &--prev {
    transform: rotate(180deg);
  }
}
